<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}" />
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Reagendar: Lista de empleados</title>
</head>
<body>
    <nav class="navigation container">
        <div class="navigation-to-left">
            <ul class="navigation__options">
                <li class="navigation__item">
                    <a href="/list_users">
                        <div class="navigation__option">
                            <p>Lista de formato DS160</p>
                        </div>
                    </a>
                </li>
                
                
                <li class="navigation__item">
                    <a href="/register_appointments">
                        <div class="navigation__option">
                            <p>Registrar usuario</p>
                        </div>
                    </a>
                </li>
                
                <li class="navigation__item">
                    <a href="/list_appointments">
                        <div class="navigation__option">
                            <p>Lista de usuarios</p>
                        </div>
                    </a>
                </li>

                {% if current_user.ROL_ID == 1 %}
                <li class="navigation__item">
                    <a href="/list_people">
                        <div class="navigation__option">
                            <p>Lista de empleados</p>
                        </div>
                    </a>
                </li>
                
                <li class="navigation__item">
                    <a href="/register_people">
                        <div class="navigation__option">
                            <p>Registrar empleado</p>
                        </div>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="navigation-to-right">
            <ul class="navigation__options">
                <li class="navigation__item">
                    <a href="/logout">
                        <div class="navigation__option">
                            <p>Cerrar sesion</p>
                        </div>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="container">
        <h1 class="title">Lista de empleados</h1>
        <div class="table-responsive">            
            <!-- Tabla de usuarios -->
            <table class="table">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Nombre Tabla</th>
                        <th>Tipo Cambio</th>
                        <th>Detalle Cambio</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    {% for history in histories %}
                    <tr>
                        <td>{{ people_dict.get(history.USUARIO_ID, 'Desconocido') }}</td>
                        <td>{{ history.NOMBRE_TABLA }}</td>
                        <td>{{ history.TIPO_CAMBIO }}</td>
                        <td>{{ history.DETALLE_CAMBIO }}</td>
                        <td>{{ history.FECHA }}</td> 
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    
</body>
</html>

</body>
</html>
