<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}" />
    {% if current_user.id_administrador == 1 or current_user.id_administrador == 3 %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notificaciones.css') }}">
    {% endif %}
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->

    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Reagendar: Lista de suarios</title>
</head>
<body>
    <nav class="navigation container">
        <div class="navigation-to-left">
            <ul class="navigation__options">
                <li class="navigation__item">
                    <a href="/list_users">
                        <div class="navigation__option">
                            <p>Lista de usuarios</p>
                        </div>
                    </a>
                </li>
                {% if current_user.id_administrador != 3%}
                <li class="navigation__item">
                    <a href="/register_user">
                        <div class="navigation__option">
                            <p>Registrar usuario</p>
                        </div>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/list_mora">
                        <div class="navigation__option">
                            <p>Correos de pagos</p>
                        </div>
                    </a>
                </li>
                {% endif %}
                <li class="navigation__item">
                    <a href="/list_all_pagos">
                        <div class="navigation__option">
                            <p>Filtro de pagos</p>
                        </div>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/list_all_credito">
                        <div class="navigation__option">
                            <p>Filtro de creditos</p>
                        </div>
                    </a>
                </li>
                {% if current_user.id_rol == 2 %}
                <li class="navigation__item">
                    <a href="/register_employee">
                        <div class="navigation__option">
                            <p>Registrar  empleados</p>
                        </div>
                    </a>
                </li>
                {% endif %}
                

    
            </ul>
        </div>
        <div class="navigation-to-right">
            <ul class="navigation__options">
                {% if current_user.id_administrador == 1 or current_user.id_administrador == 3 %}
                <li id="nav-notifications">
                    <a href="{{ url_for('notifications') }}">
                      Notificaciones <span id="notif-count" class="badge">0</span>
                    </a>
                  </li>
                {% endif %}
                <li class="navigation__item">
                    <a href="/logout">
                        <div class="navigation__option">
                            <p>Cerrar sesion</p>
                        </div>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                    <div id="errorModal" class="modal" tabindex="-1" role="dialog">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">Error</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="flash-message {{ category }}">{{ message }}</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    <div class="container">
        <h1 class="title">Lista de usuarios</h1>

        <!-- Filtros -->
        <form method="GET" action="">
            <div class="filters">
                <label for="filtro">Usuario:</label>
                <input placeholder="Buscar usuario" type="text" id="filtro" name="filtro" value="{{ filtro }}" class="form-card__input-inline">
                
                <label for="mes_filtro">Mes de registro:</label>
                <select id="mes_filtro" name="mes_filtro" class="form-card__input-inline">
                    <option value="">Todos los meses</option>
                    <option value="1" {% if mes_filtro == '1' %}selected{% endif %}>Enero</option>
                    <option value="2" {% if mes_filtro == '2' %}selected{% endif %}>Febrero</option>
                    <option value="3" {% if mes_filtro == '3' %}selected{% endif %}>Marzo</option>
                    <option value="4" {% if mes_filtro == '4' %}selected{% endif %}>Abril</option>
                    <option value="5" {% if mes_filtro == '5' %}selected{% endif %}>Mayo</option>
                    <option value="6" {% if mes_filtro == '6' %}selected{% endif %}>Junio</option>
                    <option value="7" {% if mes_filtro == '7' %}selected{% endif %}>Julio</option>
                    <option value="8" {% if mes_filtro == '8' %}selected{% endif %}>Agosto</option>
                    <option value="9" {% if mes_filtro == '9' %}selected{% endif %}>Septiembre</option>
                    <option value="10" {% if mes_filtro == '10' %}selected{% endif %}>Octubre</option>
                    <option value="11" {% if mes_filtro == '11' %}selected{% endif %}>Noviembre</option>
                    <option value="12" {% if mes_filtro == '12' %}selected{% endif %}>Diciembre</option>
                </select>

                <label for="anio_filtro">Año:</label>
                <select id="anio_filtro" name="anio_filtro" class="form-card__input-inline">
                    <option value="">Todos los años</option>
                    {% for anio in anios_disponibles %}
                        <option value="{{ anio }}" {% if anio_filtro == anio|string %}selected{% endif %}>{{ anio }}</option>
                    {% endfor %}
                </select>
                
                <button type="submit" class="btn btn--green">Filtrar</button>
                <a href="{{ url_for('download_usuarios') }}" class="btn btn--blue">Descargar Excel</a>
            </div>
        </form>


        <div class="table-responsive">
            
            <!-- Tabla de usuarios -->
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nombre</th>
                        <th>Cedula</th>
                        <th>Dirección</th>
                        <th>Celular</th>
                        <th>Correo</th>
                        <th>Fecha Registro</th>
                        {% if current_user.id_administrador != 3%}
                        <th>Nuevo Credito</th>
                        {% endif %}
                        <th>Lista de Creditos</th>
                        {% if current_user.id_administrador != 3%}
                        <th>Editar</th>
                        {% endif %}
                        <th>Historial</th>
                        {% if current_user.id_administrador != 3%}
                        <th>Eliminar</th> 
                        {% endif %}
                         

                    </tr>
                </thead>
                <tbody>
                    {% for user in data %}
                    <tr>
                        <td data-label="ID">{{ user.id_usuario }}</td>
                        <td data-label="Nombre">{{ user.nombre_completo }}</td>
                        <td data-label="Cedula">{{ user.cedula}}</td>
                        <td data-label="Direccion">{{ user.direccion }}</td>
                        <td data-label="Celular">{{ user.celular }}</td>
                        <td data-label="Correo">{{ user.correo }}</td>
                        <td data-label="Fecha Registro">{{ user.fecha_creacion.strftime('%d/%m/%Y') if user.fecha_creacion else 'N/A' }}</td>
                        {% if current_user.id_administrador != 3%}
                        <td data-label="Nuevo credito" data-id="{{ user.id_usuario }}">
                            <a href="{{ url_for('register_credito', id=user.id_usuario) }}">
                                <img src="../static/icons/credit-card.svg" alt="card icon" class="icon" />
                            </a>
                        </td>
                        {% endif %}

                        <td data-label="Lista de creditos" data-id="{{ user.id_usuario }}">
                            <a href="{{ url_for('list_credito', id=user.id_usuario) }}">
                                <img src="../static/icons/card-checklist.svg" alt="Pencil icon" class="icon" />
                            </a>
                        </td>
                        {% if current_user.id_administrador != 3%}
                        <td data-label="Editar" data-id="{{ user.id_usuario }}">
                            <a href="{{ url_for('update_user', id=user.id_usuario) }}">
                                <img src="../static/icons/pencil.svg" alt="Pencil icon" class="icon" />
                            </a>
                        </td>
                        {% endif %}
                        <td data-label="Historial" data-id="{{ user.id_usuario }}">
                            <a href="{{ url_for('history_user', id=user.id_usuario) }}">
                                <img src="../static/icons/clock-history.svg" alt="Pencil icon" class="icon" />
                            </a>
                        </td>

                        {% if current_user.id_administrador != 3%}
                        <td data-label="Eliminar"> 
                            <button class="eliminarBtn" data-id="{{ user.id_usuario }}" data-correo="{{ user.nombre_completo}}">
                                <img src="../static/icons/trash.svg" alt="Trash icon" class="icon" />
                            </button>
                        </td>
                        {% endif %}
               

                        
                    </tr>
                    {% endfor %}                          
                </tbody>
            </table>

            <!-- Controles de Paginación -->
            <div class="pagination">
                {% if pagina_actual > 1 %}
                    <a href="?filtro={{ filtro }}&mes_filtro={{ mes_filtro }}&anio_filtro={{ anio_filtro }}&pagina={{ pagina_actual - 1 }}">&laquo; Anterior</a>
                {% endif %}
                {% for pagina in paginas_visibles %}
                    <a href="?filtro={{ filtro }}&mes_filtro={{ mes_filtro }}&anio_filtro={{ anio_filtro }}&pagina={{ pagina }}" class="{% if pagina == pagina_actual %}active{% endif %}">{{ pagina }}</a>
                {% endfor %}
                {% if pagina_actual < total_paginas %}
                    <a href="?filtro={{ filtro }}&mes_filtro={{ mes_filtro }}&anio_filtro={{ anio_filtro }}&pagina={{ pagina_actual + 1 }}">Siguiente &raquo;</a>
                {% endif %}
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p class="form-card__label">¿Estás seguro de que deseas eliminar el usuario <span id="nombreEliminar"></span>?</p>
            <div class="form-card__buttons">
                <button id="confirmar-eliminar" class="btn btn--green" type="submit">Confirmar</button>
                <button id="cancelar-eliminar" class="btn btn--green" type="submit">Cancelar</button>
            </div>
        </div>
    </div>

    <!-- Contenedor para los toasts -->
  {% if current_user.id_administrador == 1 or current_user.id_administrador == 3 %}
  <div id="toast-container"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  {% endif %}

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/modal_usuarios.js') }}" type="module"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->

    
</body>
</html>
