<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}" />
    {% if current_user.id_administrador == 3%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notificaciones.css') }}">
    {% endif %}
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Reagendar: Lista de citas</title>
</head>
<body>
    <nav class="navigation container">
        <div class="navigation-to-left">
            <ul class="navigation__options">
                <li class="navigation__item">
                    <a href="/list_users">
                        <div class="navigation__option">
                            <p>Lista de usuarios</p>
                        </div>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/register_user">
                        <div class="navigation__option">
                            <p>Registrar usuario</p>
                        </div>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/list_mora">
                        <div class="navigation__option">
                            <p>Correos de pagos</p>
                        </div>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/list_all_pagos">
                        <div class="navigation__option">
                            <p>Filtro de pagos</p>
                        </div>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/list_all_credito">
                        <div class="navigation__option">
                            <p>Filtro de creditos</p>
                        </div>
                    </a>
                </li>
                {% if current_user.id_rol == 2 or current_user.id_rol == 3 %}
                <li class="navigation__item">
                    <a href="/register_employee">
                        <div class="navigation__option">
                            <p>Registrar  empleados</p>
                        </div>
                    </a>
                </li>
                {% endif %}
       
                

    
            </ul>
        </div>
        <div class="navigation-to-right">
            <ul class="navigation__options">
                {% if current_user.id_administrador == 3%}
                <li id="nav-notifications">
                    <a href="{{ url_for('notifications') }}">
                      Notificaciones <span id="notif-count" class="badge">0</span>
                    </a>
                  </li>
                {% endif %}
                <li class="navigation__item">
                    <a href="/logout">
                        <div class="navigation__option">
                            <p>Cerrar sesion</p>
                        </div>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="container">
        
        <h1 class="title">Lista de creditos</h1>

            

        <!-- Tabla de usuarios -->
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Credito</th>
                    <th>Interes</th>
                    <th>Cuotas</th>
                    <th>Modalidad</th>
                    <th>Ganancia</th>
                    <th>Fecha Credito</th>
                    <th>Fecha Creación</th>
                    <th>Fecha Actualización</th>
                    <th>Contrato</th>
                    <th>Editar</th>
                    <th>Detalles</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {% for user in data %}
                <tr>
                    <td data-label="ID">{{ user.id_credito }}</td>
                    <td data-label="Usuario">{{ user.nombre_completo }}</td>
                    <td data-label="Credito">{{ '{:,.0f}'.format(user.monto_credito) | replace(',', '.') }}</td>
                    <td data-label="Interes">{{ '{:,.2f}'.format(user.tasa_interes).replace('.', ',') }}</td>
                    <td data-label="Cuotas">{{ user.numero_cuotas }}</td>
                    <td data-label="Modalidad">{{ user.nombre_modalidad }}</td>
                    <td data-label="Ganancia">{{ '{:,.0f}'.format(user.ganancia_total) | replace(',', '.') }}</td>
        
                    <td data-label="Fecha Credito">{{ user.fecha_credito if user.fecha_credito else ''}}</td>
                    <td data-label="Fecha Creación">{{ user.fecha_creacion if user.fecha_creacion else ''}}</td>
                    <td data-label="Fecha Actualización">{{ user.fecha_actualizacion if user.fecha_actualizacion else ''}}</td>
                    
                    <td data-label="Contrato"> 
                        <form action="{{ url_for('download_pdf', id=user.id_credito) }}" method="post" target="_blank">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />          
                            
                            <button class="contratoBtn" type="submit" data-id="{{ user.id_credito }}">
                                <img src="../static/icons/envelope-paper.svg" alt="PDF icon" class="icon" />
                            </button>
                        </form>
                    </td>
                    
                    
                    <td data-label="Editar" data-id="{{ user.id_credito }}">
                        <a href="{{ url_for('update_credito', id=user.id_credito) }}">
                            <img src="../static/icons/pencil.svg" alt="info icon" class="icon" />
                        </a>
                    </td>
                    <td data-label="Detalles" data-id="{{ user.id_credito }}">
                        <a href="{{ url_for('list_pagos', id=user.id_credito) }}">
                            <img src="../static/icons/info-circle.svg" alt="info icon" class="icon" />
                        </a>
                    </td>
                    <td data-label="Eliminar"> 
                        <button class="eliminarBtn" data-id="{{ user.id_credito }}" data-correo="{{ user.nombre_completo}}">
                            <img src="../static/icons/trash.svg" alt="Trash icon" class="icon" />
                        </button>
                    </td>
                    

                </tr>
                {% endfor %}                          
            </tbody>
        </table>

        <!-- Controles de Paginación -->
        <div class="pagination">
            {% if pagina_actual > 1 %}
                <a href="?filtro={{ filtro }}&pagina={{ pagina_actual - 1 }}">&laquo; Anterior</a>
            {% endif %}
            {% for pagina in paginas_visibles %}
                <a href="?filtro={{ filtro }}&pagina={{ pagina }}" class="{% if pagina == pagina_actual %}active{% endif %}">{{ pagina }}</a>
            {% endfor %}
            {% if pagina_actual < total_paginas %}
                <a href="?filtro={{ filtro }}&pagina={{ pagina_actual + 1 }}">Siguiente &raquo;</a>
            {% endif %}
        </div>

    </div>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p class="form-card__label">¿Estás seguro de que deseas eliminar el credito <span id="nombreEliminar"></span>?</p>
            <div class="form-card__buttons">
                <button id="confirmar-eliminar" class="btn btn--green" type="submit">Confirmar</button>
                <button id="cancelar-eliminar" class="btn btn--green" type="submit">Cancelar</button>
            </div>
        </div>
    </div>

    <!-- Contenedor para los toasts -->
  {% if current_user.id_administrador == 3%}
  <div id="toast-container"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  {% endif %}

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/modal_credito.js') }}" type="module"></script>

</body>
</html>
