<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}" />
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>Reagendar: Lista de empleados</title>
</head>
<body>
    <nav class="navigation container">
        <div class="navigation-to-left">
            <ul class="navigation__options">
                <li class="navigation__item">
                    <a href="/list_users">
                        <div class="navigation__option">
                            <p>Lista de formato DS160</p>
                        </div>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/register_appointments">
                        <div class="navigation__option">
                            <p>Registrar usuario</p>
                        </div>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/list_appointments">
                        <div class="navigation__option">
                            <p>Lista de usuarios</p>
                        </div>
                    </a>
                </li>

                {% if current_user.ROL_ID == 1 %}
                <li class="navigation__item">
                    <a href="/list_people">
                        <div class="navigation__option">
                            <p>Lista de empleados</p>
                        </div>
                    </a>
                </li>
                
                <li class="navigation__item">
                    <a href="/register_people">
                        <div class="navigation__option">
                            <p>Registrar empleado</p>
                        </div>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
        <div class="navigation-to-right">
            <ul class="navigation__options">
                <li class="navigation__item">
                    <a href="/logout">
                        <div class="navigation__option">
                            <p>Cerrar sesion</p>
                        </div>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="container">
        <h1 class="title">Lista de empleados</h1>
        <div class="table-responsive">
            <!-- Filtro -->
            <input type="text" id="filtro" placeholder="Buscar usuario...">
            
            <!-- Tabla de usuarios -->
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Correo</th>
                        <th>Fecha de creación</th>
                        <th>Historial</th>
                        <th>Eliminar</th> 

                    </tr>
                </thead>
                <tbody>
                    {% for user in data %}
                    <tr>
                        <td data-label="ID">{{ user.ID }}</td>
                        <td data-label="Correo">{{ user.CORREO }}</td>
                        <td data-label="Creado">{{ user.FECHA_CREACION }}</td>

                        <td data-label="Historial" data-id="{{ user.ID }}">
                            <a href="{{ url_for('history_people', id=user.ID) }}">
                                <img src="../static/icons/clock-history.svg" alt="Pencil icon" class="icon" />
                            </a>
                        </td>
                        
                        <td data-label="Eliminar"> 
                            <button class="eliminarBtn" data-id="{{ user.ID }}" data-correo="{{ user.CORREO }}">
                                <img src="../static/icons/trash.svg" alt="Trash icon" class="icon" />
                            </button>
                        </td>
                        
                    </tr>
                    {% endfor %}                          
                </tbody>
            </table>

            <!-- Controles de Paginación -->
            <div class="pagination">
                {% if pagina_actual > 1 %}
                    <a href="?filtro={{ filtro }}&pagina={{ pagina_actual - 1 }}">&laquo; Anterior</a>
                {% endif %}
                {% for pagina in paginas_visibles %}
                    <a href="?filtro={{ filtro }}&pagina={{ pagina }}" class="{% if pagina == pagina_actual %}active{% endif %}">{{ pagina }}</a>
                {% endfor %}
                {% if pagina_actual < total_paginas %}
                    <a href="?filtro={{ filtro }}&pagina={{ pagina_actual + 1 }}">Siguiente &raquo;</a>
                {% endif %}
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <p class="form-card__label">¿Estás seguro de que deseas eliminar el correo <span id="correoEliminar"></span>?</p>
            <div class="form-card__buttons">
                <button id="confirmar-eliminar" class="btn btn--green" type="submit">Confirmar</button>
                <button id="cancelar-eliminar" class="btn btn--green" type="submit">Cancelar</button>
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='js/modal_personas.js') }}" type="module"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Obtén el elemento del filtro
            const filtroInput = document.getElementById('filtro');
    
            // Agrega un listener para el evento 'keypress'
            filtroInput.addEventListener('keypress', function (event) {
                if (event.key === 'Enter') {
                    applyFilter();
                }
            });
        });
    
        function applyFilter() {
            const filtro = document.getElementById('filtro').value;
            const url = new URL(window.location.href);
            url.searchParams.set('filtro', filtro);
            window.location.href = url.href;
        }
    </script>
    
</body>
</html>
