<!DOCTYPE html>
<html lang="es" data-lt-installed="true">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navigation.css') }}" />
    {% if current_user.id_administrador == 3%}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notificaciones.css') }}">
    {% endif %}

    <title>Reagendar: Registro de empleados</title>
</head>

<body>
    <nav class="navigation container">
        <div class="navigation-to-left">
            <ul class="navigation__options">
                <li class="navigation__item">
                    <a href="/list_users">
                        <div class="navigation__option">
                            <p>Lista de usuarios</p>
                        </div>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/register_user">
                        <div class="navigation__option">
                            <p>Registrar usuario</p>
                        </div>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/list_mora">
                        <div class="navigation__option">
                            <p>Correos de pagos</p>
                        </div>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/list_all_pagos">
                        <div class="navigation__option">
                            <p>Filtro de pagos</p>
                        </div>
                    </a>
                </li>
                <li class="navigation__item">
                    <a href="/list_all_credito">
                        <div class="navigation__option">
                            <p>Filtro de creditos</p>
                        </div>
                    </a>
                </li>
                {% if current_user.id_rol == 2 or current_user.id_rol == 3 %}
                <li class="navigation__item">
                    <a href="/register_employee">
                        <div class="navigation__option">
                            <p>Registrar  empleados</p>
                        </div>
                    </a>
                </li>
                {% endif %}
                

    
            </ul>
        </div>
        <div class="navigation-to-right">
            <ul class="navigation__options">
                {% if current_user.id_administrador == 3%}
                <li id="nav-notifications">
                    <a href="{{ url_for('notifications') }}">
                      Notificaciones <span id="notif-count" class="badge">0</span>
                    </a>
                  </li>
                {% endif %}
                <li class="navigation__item">
                    <a href="/logout">
                        <div class="navigation__option">
                            <p>Cerrar sesion</p>
                        </div>
                    </a>
                </li>
            </ul>

        </div>
    </nav>
    <div class="container">

        <h1 class="title">Registro de usuarios</h1>

        <form class="form-card" id="register-form" method="post" action="{{ url_for('register_user') }}" enctype="multipart/form-data">
            <input type="hidden" name="csrf_token" value ="{{ csrf_token() }}" />          
        
            <h2 class="form-card__subtitle">Crea una cuenta nueva</h2>
        
            <!-- Nombre completo -->
            <div class="form-card__group">
                <label class="form-card__label" for="nombre_completo">Nombre completo:</label>
                <input class="form-card__input" type="text" name="nombre_completo" id="nombre_completo" placeholder="Nombre completo">
                <p class="form-card__error" id="error-nombre_completo">*El nombre debe contener solo letras y espacios (2-50 caracteres).</p>
            </div>
        
            <!-- Cédula -->
            <div class="form-card__group">
                <label class="form-card__label" for="cedula">Cédula:</label>
                <input class="form-card__input" type="text" name="cedula" id="cedula" placeholder="Cédula">
                <p class="form-card__error" id="error-cedula">*La cédula debe contener solo números (5-15 dígitos).</p>
            </div>

            <!-- Residencia -->
            <div class="form-card__group">
                <label class="form-card__label" for="residencia">Residencia:</label>
                <input class="form-card__input" type="text" name="residencia" id="residencia" placeholder="Residencia">
                <p class="form-card__error" id="error-residencia">*La residencia debe contener entre 5 y 100 caracteres.</p>
            </div>

            <!-- Expedición -->
            <div class="form-card__group">
                <label class="form-card__label" for="expedicion">Expedicioón:</label>
                <input class="form-card__input" type="text" name="expedicion" id="expedicion" placeholder="Expedicion">
                <p class="form-card__error" id="error-expedicion">*La expedición debe contener entre 5 y 100 caracteres.</p>
            </div>
        
            <!-- Dirección -->
            <div class="form-card__group">
                <label class="form-card__label" for="direccion">Dirección:</label>
                <input class="form-card__input" type="text" name="direccion" id="direccion" placeholder="Dirección">
                <p class="form-card__error" id="error-direccion">*La dirección debe contener entre 5 y 100 caracteres.</p>
            </div>
        
            <!-- Celular -->
            <div class="form-card__group">
                <label class="form-card__label" for="celular">Celular:</label>
                <input class="form-card__input" type="text" name="celular" id="celular" placeholder="Celular">
                <p class="form-card__error" id="error-celular">*El celular debe contener exactamente 10 dígitos.</p>
            </div>
        
            <!-- Correo -->
            <div class="form-card__group">
                <label class="form-card__label" for="correo">Correo:</label>
                <input class="form-card__input" type="text" name="correo" id="correo" placeholder="Correo">
                <p class="form-card__error" id="error-correo">*El correo debe tener el formato nombre@dominio.com.</p>
            </div>

            <div class="form-card__group">
                <label class="form-card__label" for="file">Pagare:</label>
                <input class="form-card__input" type="file" name="file" id="file" accept=".pdf">
            </div>
        
            <div class="cl"></div>
            <div class="form-card__buttons">
                <button class="btn btn--green btn--block" type="submit">Crear cuenta</button>
            </div>
        
            <!-- Mensajes generales -->
            <div id="alerta" class="form-card__error {% if mostrar_alerta %}visible{% else %}invisible{% endif %}">
                La cedula ya está registrado.
            </div>
            <div id="alerta" class="form-card__error {% if mostrar_alerta2 %}visible{% else %}invisible{% endif %}">
                El correo ya está registrado.
            </div>         
            
            <div class="form-card__good {% if mostrar_exito %}visible{% else %}invisible{% endif %}">
                Usuario registrado exitosamente.
            </div>  
        
            <p class="form-card__error" id="form-error">
                Rellene todos los campos del formulario correctamente antes de realizar el envío.
            </p>
        </form>
        
    </div>
    <!-- Contenedor para los toasts -->
  {% if current_user.id_administrador == 3%}
  <div id="toast-container"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.1/socket.io.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  {% endif %}
    <script src="{{ url_for('static', filename='js/registrar_personas.js') }}" type="module"></script>



</body>
</html>