<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" />
    <title>Reagendar: Restablecer contraseña</title>
</head>

<body>
    <div class="container">
        <h1 class="title">Restablecer contraseña con correo</h1>
        <form class="form-card" id="login-form" method="post" action="{{ url_for('reset_password') }}">
            <input type="hidden" name="csrf_token" value ="{{ csrf_token() }}"  /> 

            <div class="form-card__group">
                <label class="form-card__label" for="email">Correo:</label>
                <div class="form-card__input--login">
                    <input class="form-card__input" type="text" name="email" id="email" placeholder="Correo" />

                    <img src="../static/icons/mail.svg" alt="Mail icon" class="form-card__input-icon" />
                </div>

                <p class="form-card__error">
                    *El correo debe tener el formato nombre de usuario@dominio.com
                </p>
            </div>

            <div class="form-card__buttons">
                <button class="btn btn--green" type="submit">Enviar correo</button>
            </div>  
            
            <div class="form-card__good {% if mostrar_exito %}visible{% else %}invisible{% endif %}">
                Se envio un correo para restablecer su contraseña
            </div>  
            <div class="form-card__error {% if mostrar_alerta %}visible{% else %}invisible{% endif %}">
                El correo no esta registrado
            </div> 

            <p class="form-card__error" id="form-error">
                Rellene todos los campos del formulario correctamente antes de realizar el envío.
            </p>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/reset_password.js') }}" type="module"></script>

</body>
</html>
